replicaCount: 2

image:
  repository: docker.io/puppet666/mario-frontend
  tag: v0.0.1
  pullPolicy: IfNotPresent

service:
  name: mario-frontend-service
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations: {}
  backend:
    serviceName: mario-backend-service
    servicePort: 8000

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

livenessProbe:
  path: /
  port: 80
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  path: /
  port: 80
  initialDelaySeconds: 5
  periodSeconds: 5
